* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
nav {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  padding: 10px;

  top: 0px;
  width: 100%;
  /* z-index: ; */
 
 
}
nav a {
  text-decoration: none;
  text-decoration-line: none;
}
nav a i {
  font-size: 40px;
  color: #d4b068;
}
nav label i {
  margin-top: 15px;
  font-size: 1.3em;
}
nav ul {
  display: none;
  list-style: none;
  width: 150px;
}
nav ul li {
  font-size: 20px;
  margin: 10px;
 
}
#cheak {
  display: none;
}
#cheak:checked ~ ul {

    color: #ffffff;
    background-color: #000;
    padding: 10px;
    position: absolute;
    top: 66px;
    right: 0px;
    display: block;
}
/* navbar end  */
.wow {
  text-align: center;
  background-image: linear-gradient(rgba(4, 4, 15, 0.7), rgba(1, 1, 2, 0.4)),
    url(masthead\ \(2\).jpg);
  background-position: center;
  background-repeat: repeat;
  background-size: cover ;
  width: 100%;
  height: 19em;
  background-attachment:scroll;
  color: #000000;
}end
.wow h1 {
  color: #fff;
  font-size: 45px;
  line-height: 1;
  font-weight: 1;
  margin: 0 0 20px 0;
  font-family: inherit;
  padding-top: 100px;
}
.wow h1 i {
  color: #d4b068;
  font-size: 1.3em;
  line-height: normal;
  font-weight: 700;
}
.wow p {
  color: #fff;
  margin: 20px;
  font-size: 17px;
  line-height: 1.6;
  font-weight: 500;
  color: #9f9f9f;
}
.wow a {
  display: inline-block;
  margin: 20px;
  padding: 10px;
  text-decoration: none;
  background-color: unset;
  border-top: 1px solid #9f9f9f;
  border-bottom: 1px solid #9f9f9f;
  color: #fff;
}
.wow a:hover {
  color: #d4b068;
  border-color: #d4b068;
}
/* .wow end  */
.start1 {
  margin-top: 100px;
  text-align: center;
}
.start1 h3 {
  font-weight: 700;
  font-size: 17px;
  margin: 50px 0px 20px 0px;
}
.start1 i {
  font-family: "Dancing Script";
  font-size: 70px;
  font-weight: 100;
  color: #d4b068;
  display: inline-block;
  margin-right: 5px;
}
.start1 p {
  margin: 10px 25px 25px 10px;
  color: #9f9f9f;
}
.start1 a {
  display: block;
  margin-top: 30px;
  color: #d4b068;
}
.start1 .bar {
  margin: 100px 0px;
}
.start1 .bar span {
  margin: 50px 10px 10px 10px;
  display: block;
  text-align: left;
}
.start1 .bar .progress {
  margin: 10px 10px;
  border: none;
  height: 8px;
  background-image: linear-gradient(
    to left,
    rgba(128, 128, 128, 0.171),
    rgb(255, 255, 0)
  );
}
.start1 .main img {
  display: none;
}
/* .start1 end  */
.about {
  text-align: center;
  background-color: #1f1f1f;
  color: #9c9c9c;
}
.about i {
  display: block;
  margin-top: 20px;
  color: #d4b068;
}
.about a i {
  font-size: 25px;
  display: inline-block;
  margin: 10px;
}
.about a {
  display: block;
  margin-top: 20px;
  color: #fff;
}
.about h2 {
  color: #fff;
  font-size: 45px;
}
.cards {

  display: flex;
  flex-wrap: wrap;

}

.cards .card {
  width: 100%;
  height: 100%;
  position: relative;
}

.cards .card img {
  width: 100%;
}

.cards .card .box-content::before,
.cards .card .box-content::after {
  content: "";
  width: 100%;
  height: 50%;
  background-color: #000;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  /* top: 0; */
  transition: all 0.7s;
  opacity: 0;
}

.cards .card .box-content::before {
  top: -20%;
}

.cards .card .box-content::after {
  bottom: -50%;
}

.cards .card:hover .box-content::before {
  top: 0.3%;
  opacity: 1;
}

.cards .card:hover .box-content::after {
  bottom: 0.3%;
  opacity: 1;
}

.cards .card .content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
  color: #b05252;
}

.cards .card .content h1 {
  transform: translateY(-50px);
  opacity: 0;
}

.cards .card:hover .content h1 {
  transform: translateY(0px);
  transition: all 0.3s;
  opacity: 1;
}

.cards .card .content p {
  transform: translateY(50px);
  opacity: 0;
}

.cards .card:hover .content p {
  transform: translateY(0px);
  transition: all 0.3s;
  opacity: 1;
}

.prove {
  background-color: #000000e5;
  color: #fff;
  text-align: center;
}
.prove .card {
  margin: 10px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.prove .card h2 {
  font-size: 40px;
  margin: 10px 10px 10px 10px;
}
.prove .card i {
  color: #d4b068;
  margin: 10px;
}
.prove .card p {
  color: #9c9c9c;
  margin: 22px;
  line-height: 1.72857143;
}
.prove .card button {
  background: transparent;
  color: #fff;
  border: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin: 20px;
  font-size: 20px;
  padding: 10px;
}


.cards .content::before,
.cards .content::after {
  content: "";
  width: 100%;
  height: 50%;
  background: url("../img/OIP.jpeg");
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
}
.cards .content::before {
  top: -20%;
}
.cards .content::after {
  bottom: -20%;
}
.cards .content:hover.content:before {
  top: 0.5%;
  opacity: 1;
}
.cards .content:hover.content:after {
  bottom: 0.5%;
  opacity: 1;
}
.cards .card:hover .box {
  opacity: 1;
  transform: rotate(0deg);
}
.cards .card .box {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  color: #fff;
  opacity: 0;
  transform: rotate(90deg);
  transition: all 0.5s;
}
.free {
  text-align: center;
  margin-top: 90px;
  margin-bottom: 20px;
}
.free .head {
  margin: 10px;
}
.free .head h2 {
  font-size: 40px;
  margin-bottom: 10px;
}
.free .head i {
  display: block;
  color: #d4b068;
  margin-bottom: 20px;
}
.free .head p {
  color: #9c9c9c;
  line-height: 1.72857143;
}
.free .body .card {
  border: 1px solid #9c9c9ca8;
  margin: 10px;
}
.free .body .card h4 {
  margin: 30px;
}
.free .body .price {
  border-bottom: 1px solid #9c9c9c2c;
}
.free .body .price .price1,
.free .body .price .price3 {
  font-size: 30px;
}
.free .body .price .price2 {
  display: inline-block;
  font-size: 40px;
  margin-bottom: 30px;
  padding: 20px 10px;
}
.free .body .card .features ul li {
  display: block;
  margin: 30px 10px;
}
.free .body .card button {
  border: none;
  padding: 10px;
  background: none;
  border-bottom: 1px solid #d4b068;
  border-top: 1px solid #d4b068;
  margin-bottom: 30px;
}
#leader {
  border: 1px solid #d4b068;
}
#leader i {
  color: #d4b068;
}

.option {
  text-align: center;
  background: #000000de;
  color: white;
  padding-bottom: 100px;
}
.option .container .section-head h2 {
  font-size: 40px;
  margin-top: 20px;
  padding: 80px 10px 10px 10px;
}
.option .container .section-head i {
  display: block;
  color: #d4b068;
  margin-bottom: 20px;
}
.option .container .section-head p {
  margin: 20px 10px 100px 10px;
  line-height: 1.72857143;
  color: #9c9c9c;
}
.option .container .section-body {
  display: flex;
  flex-wrap: wrap;
}
.option .container .section-body .agent {
  position: relative;
  width: 100%;
}
.option .container .section-body .agent .content {
  width: 100%;
  position: absolute;
  top: 240px;
  opacity: 0;
  overflow: hidden;
}
.option .container .section-body .agent .content h2 {
  transform: translateY(-50px);
  transition: 0.4s;
  color: #d4b068;
  margin-bottom: 20px;
}
.option .container .section-body .agent .content p {
  transform: translateY(50px);
  transition: 0.4s;
  color: #9c9c9c;
  margin: 15px;
  line-height: 1.72857143;
}
.option .container .section-body .agent .content .icon {
  transform: translateY(50px);
  transition: 0.4s;
}
.option .container .section-body .agent .content .icon i {
  border: #d4b068 2px solid;
  width: 40px;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
  color: #d4b068;
}
.option .container .section-body .agent h4 {
  width: 100%;
  position: absolute;
  top: 400px;
  color: #d4b068;
}
.option .container .section-body .agent img {
  width: 100%;
}
.option .container .section-body .agent:hover .content {
  opacity: 1;
}
.option .container .section-body .agent:hover h4 {
  opacity: 0;
}
.option .container .section-body .agent:hover h2 {
  transform: translateY(0);
}
.option .container .section-body .agent:hover p {
  transform: translateY(0);
}
.option .container .section-body .agent:hover .icon {
  transform: translateY(0);
}
/* option end  */
.open .head {
  text-align: center;
  margin-top: 100px;
}
.open .head h2 {
  font-size: 40px;
  margin-bottom: 10px;
}
.open .head i {
  display: block;
  margin-bottom: 30px;
  color: #d4b068;
}
.open .head p {
  color: #9c9c9c;
  margin: 10px;
  line-height: 1.72857143;
}
.open .body .content {
  display: flex;
  margin-top: 100px;
}
.open .body .content h3 {
  font-size: 50px;
  margin: 0px 10px;
}
.open .body .content .subcontent h5 {
  font-size: 15px;
  margin-bottom: 10px;
}
.open .body .content .subcontent p {
  color: #9c9c9c;
  line-height: 1.72857143;
}
.last {
  background: url(/img/reviewsbg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 200px;
  color: #9c9c9c;
  text-align: center;
  justify-content: center;
}
.last span {
  font-size: 50px;
  color: #d4b068;
  border: 2px solid #d4b068;
  border-radius: 50%;
  padding: 10px 18px;
  height: 55px;
  display: inline-block;
  margin-bottom: 100px;
}
.last p {
  line-height: 1.72857143;
  margin-bottom: 30px;
}
.last i {
  color: #d4b068;
}
.contactus {
  text-align: center;
  margin-top: 100px;
}
.contactus h2 {
  font-size: 40px;
  margin: 5px;
}
.contactus i {
  display: block;
  color: #000000;
  margin: 10px 5px 30px 5px;
}
.contactus p {
  color: #0d0404;
  margin: 10px 10px 100px 10px;
}
.contactus .form input {
  display: inline-block;
  margin: 20px 2%;
  font-size: 15px;
  width: 96%;
  border: none;
  padding: 20px;
  border-bottom: #000000 2px solid;
}
.contactus .form button {
  border: none;
  border-top: #040301 2px solid;
  border-bottom: #423212 2px solid;
  padding: 10px 10px;
  background: none;
  margin-top: 20px;
  margin-bottom: 80px;
}

@media only screen and (min-width: 768px) {
  nav {
    justify-content: space-between;
    height: 90px;
    text-align: center;
    align-items: center;
  }
  #cheakhead {
    display: none;
  }
  nav ul {
    display: flex;
    /* width: 65%; */
    width: 500px;
    background: none;
  }
  /* navbar end  */
  .wow {
    text-align: center;
    height: 61em;
  }
  .wow h1 {
    padding-top: 400px;
  }
  .wow a {
    margin-top: 50px;
  }
  /* hompage end  */
  .about {
    text-align: left;
    padding: 180px 10px;
  }
  .about i {
    text-align: right;
  }
  .cards .card {
    width: 50%;
}
  /* about end */
  .prove {
    text-align: left;
  }
  .work{
    margin-top: 150px;
  }
  .work.container .filter {
    margin-top: 80px;
  }
  .work.cards .card {
    width: 50%;
  }
  /* workend  */
  .free .body {
    display: flex;
    flex-wrap: wrap;
  }
  .free .body .card {
    width: 47%;
  }
  /* free end  */
  .option .container .section-body .agent {
    width: 50%;
  }
  /* option end  */
  .open {
    margin-bottom: 100px;
  }
  .open .head {
    margin-top: 150px;
  }
  /* open end  */
  .last {
    padding-top: 140px;
    padding-bottom: 240px;
  }
  /* last end  */
  .contactus {
    margin-top: 150px;
    margin-bottom: 100px;
  }
  .contactus .form .first {
    display: flex;
  }
  /* contactus end  */
  .end .term {
    justify-content: center;
    display: flex;
    margin: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .nav {
    justify-content: space-between;
  }
  nav ul {
    width: 610px;
  }
  nav ul li {
    margin-left: 30px;
  }
  /* nav end  */
  .wow {
    background-attachment: fixed;
  }
  .start1 .card {
    display: flex;
  }
  .start1 .main {
    display: flex;
    overflow: hidden;
  }
  .start1 .main .bar {
    width: 70%;
  }
  .start1 .main img {
    margin-left: -191PX;
    width: 50%;
    display: inline;
    margin-right: -327px;
  }
  /* .start1 end  */
  .about {
    display: inline-flex;
  }
  .about div {
    width: 40%;
    margin: 0px 30px;
  }
  .cards .card {
    width:  25%;
}

  /* about end  */
  .features {justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
  }
  .features > img {
    display: inline;
    margin-left: -470px;
  }
  /* .features end  */
  .prove .card {
    display: flex;
  }
  .prove .card p {
    width: 40%;
  }
  .prove .card button {
    height: fit-content;
  }
  .work.cards .card {
    width: 33%;
  }
  .free {
    margin-top: 150px;
  }
  .free .head p {
    margin: 20px 150px 50px 150px;
  }
  .free .body .card {
    width: 23%;
  }
  .option .container .section-body .agent {
    width: 33.33%;
  }
  .open .body {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 150px;
  }
  .open .body .content {
    width: 50%;
  }
  .contactus {
    margin: 100px 120px;
  }
 
}
@media only screen and (min-width: 1200px) {
  .wow p {
    margin: 10px 300px;
  }
  .start1 .main img {
    margin-right: -330px;
  }
  .work.cards .card {
    width: 25%;
  }
  .features > img {
    margin-left: -400px;
  }
  .open .body .content {
    width: 33.33%;
  }
  .last p {
    margin: 10px 300px;
  }
}
